<footer id="main_footer" class="">
    <p>
        Data licensed from <a href="https://www.birdsnz.org.nz/" target="_blank">Birds New Zealand</a> for educational use within the University of Otago.
    </p>
</footer>