<header class="" id="main_header">
    <div id="header_content">
        <a href="/"><img title="Home" src="/assets/images/clipart-kiwi-logo/kiwi-bird-logo.svg" alt="Birds of Aotearoa logo"><h1>Birds of Aotearoa</h1></a>  
    </div>
</header>